body {
  background-color: #fff;
}
.all {
  margin: 0;
}
aside section,
main section {
  margin: 35px 20px 0;
  padding-bottom: 31px;
}
aside section.qrcode {
  display: block;
}
aside section.downloadpdf,
.all aside .printnot,
main .rsproject .img-wrap,
main .rsproject img,
main .notshow {
  display: none;
}
main .rsproject .only-pdf {
  display: inline;
}
footer {
  display: none;
}
